body {
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

html {
  margin-bottom: 3rem;
}

svg {
  margin-top: -26rem;
  width: 100rem;
  justify-content: center;
}

@media only screen and (max-width: 1250px) {

  svg {
    margin-top: -24rem;
    width: 120vw;
    justify-content: center;
  }

}

.image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.image:hover {
  object-fit: none;
}

.webtitle {
  color: white;
  background-color: black;
  margin-top: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid white;
}

.country-links {
  color: white;
  font-size: 18px;
  line-height: 3;
  margin-top: 12rem;
  margin-left: 5rem;
}


p {
  color: white;
  font-size: 22px;
}

.coin-container {
  padding: 4rem;
  border: 0px;
  display: grid;
  width: 85%;
  margin-left: 5rem;
  margin-right: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
  grid-column-gap: 1rem;
  grid-row-gap: 0.2rem;
  grid-template-areas:
    "image title"
    "image currency"
    "image year"
    "image value"
    "image value_usd";
}

.image { grid-area: image; }
.title { grid-area: title; }
.currency { grid-area: currency; }
.year { grid-area: year; }
.value { grid-area: value; }
.value_usd { grid-area: value_usd; }

.country:hover {
  cursor: pointer;
}

/*
.large-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-size: 5vw;
  color: white;
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: 1;
}

.intro-image {
  margin-top: 10rem;
  display: grid;
  position: relative;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
} */

/* map */

#HK {
  fill: #FF4545;
}

#HK:hover {
  fill: #f5f5f5;
  transition: 1s;
}

#SG {
  fill: #FF4545;
}

#SG:hover {
  fill: #f5f5f5;
  transition: 1s;
}

#MAS {
  fill: #FF4545;
}

#MAS:hover {
  fill: #f5f5f5;
  transition: 1s;
}

#THAI:hover {
  fill: #f5f5f5;
  transition: 1s;
}

#CHI:hover {
  fill: #f5f5f5;
  transition: 1s;
}

#IDN {
  fill: #FF4545;
}

#IDN:hover {
  fill: #f5f5f5;
  transition: 1s;
}

#KR:hover {
  fill: #f5f5f5;
  transition: 1s;
}
